APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=https://apis.jetskilagos.com.ng
ADMIN_FRONT_END_URL=https://portals.jetskilagos.com.ng/admin
FRONT_END_URL=https://portals.jetskilagos.com.ng
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
BCRYPT_ROUNDS=12
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=jetski_admin
DB_USERNAME=root
DB_PASSWORD=
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=s3
QUEUE_CONNECTION=database
CACHE_STORE=file
CACHE_PREFIX=
MEMCACHED_HOST=127.0.0.1
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
MAIL_MAILER=smtp
MAIL_HOST=mail.jetskilagos.com.ng
MAIL_PORT=465
MAIL_USERNAME=support@jetskilagos.com.ng
MAIL_PASSWORD=iWgl;,Ky,Gqr
MAIL_FROM_ADDRESS=support@lagosjetski.com.ng
MAIL_FROM_NAME=${APP_NAME}
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-2
AWS_BUCKET=lagos-jetski-files
AWS_USE_PATH_STYLE_ENDPOINT=false
VITE_APP_NAME=${APP_NAME}
JWT_SECRET=
JWT_TTL=120
JWT_REFRESH_TTL=7200
G5_BASE_URL=https://posapi2.vertigopos.com/api
G5_WORKSTATION_ID=1
G5_BRANCH_ID=1
G5_PASSWORD=8887910
G5_EMPLOYEE_CODE=999
G5_ORDER_EMPLOYEE_CODE=267
SPARKLE_EMAIL_DEV=olaideola.b.ode@ymail.com
SPARKLE_PASSWORD_DEV=Testy31()
SPARKLE_BASE_URL_DEV=https://virtual-account-api.sparkle.fyi/api/v1/integrations/merchant
SPARKLE_EMAIL_PROD=olaideola.b.ode@ymail.com
SPARKLE_PASSWORD_PROD=Testy31()
SPARKLE_BASE_URL_PROD=https://virtual-account-api.sparkleapp.in/api/v1/integrations/merchant
SPARKLE_SECRET_KEY=sk_d76282f73a675edd58430b8710c43bc93c5351af
SPARKLE_CLIENT_KEY=ck_3bec80051550e6f628934205533394fc45f3ed3e
SPARKLE_ENV=PRODUCTION
